.indexh1 {
  background-color: red;
  height: 200px;
  width: 300px;
  border: greenyellow solid 5px;
  margin: 20px 30px;
  padding: 20px 50px;
  color: rgb(25, 228, 25);
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.matah1 {
  background-color: red;
  height: 200px;
  width: 700px;
  border: greenyellow solid 5px;
  margin: 20px 30px;
  padding: 20px 50px;
  color: rgb(25, 228, 25);
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

p {
  color: white;
  font-size: 30px;
}
.father1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.father2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.box {
  background-color: blue;
  height: 200px;
  width: 200px;
  display: inline-block;
  border: 2px solid yellow;
  margin: 0px 0px 10px 20px;
}

.box2 {
  background-color: grey;
  height: 200px;
  width: 200px;
  display: inline-block;
  border: 3px solid black;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake {
  padding: 30px;
  margin-bottom: 30px;
  width: 300px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.fake-father {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

body {
  background-color: violet;
}
