h1 {
  background-color: red;
  height: 200px;
  width: 300px;
  border: greenyellow solid 5px;
  margin: 20px 30px;
  padding: 20px 50px;
  color: rgb(25, 228, 25);
  font-size: 130px;
}

p {
  color: white;
  font-size: 30px;
}

body {
  background-color: black;
}
